################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Alpha/CustomerWebSite/CustomerWebSite/bin
/Alpha/CustomerWebSite/CustomerWebSite/obj/Debug
/Alpha/CustomerWebSite/CustomerWebSite/Web.Debug.config
/Alpha/CustomerWebSite/CustomerWebSite/Web.Release.config
/Alpha/CustomerWebSite/.vs/config
/Alpha/DataBase/AlphaDatabase/AlphaDatabase/bin/Debug
/Alpha/DataBase/AlphaDatabase/AlphaDatabase/obj/Debug
*.user
/Alpha/DataBase/DataBase/obj
/Alpha/Infrastructure/Build/Bin
/Alpha/Infrastructure/Interface/obj
/Alpha/Infrastructure/Library/obj
/Alpha/Infrastructure/SQLServerAccessProvider/obj
/Alpha/Server/Core/obj/Debug
/Alpha/Server/Infrastructure/obj/Debug
/Alpha/WinClient/Build/Bin
/Alpha/WinClient/Interface/obj
/Alpha/WinClient/Layout/obj
/Alpha/WinClient/Library/obj
/Alpha/WinClient/Module/obj
/Alpha/WinClient/Modules/Accounting/Bills/obj
/Alpha/WinClient/Modules/Accounting/Charges/obj
/Alpha/WinClient/Modules/Accounting/Customers/obj
/Alpha/WinClient/Modules/Accounting/Payments/obj
/Alpha/WinClient/Modules/PrintForms/DebtBill/obj
/Alpha/WinClient/Modules/PrintForms/MutualSettlement/obj
/Alpha/WinClient/Modules/PrintForms/RegularBill/obj
/Alpha/WinClient/Modules/PrintForms/TotalBill/obj
/Alpha/WinClient/Modules/RefBooks/BankDetails/obj
/Alpha/WinClient/Modules/RefBooks/BenefitTypes/obj
/Alpha/WinClient/Modules/RefBooks/Buildings/obj
/Alpha/WinClient/Modules/RefBooks/Contractors/obj
/Alpha/WinClient/Modules/RefBooks/Intermediaries/obj
/Alpha/WinClient/Modules/RefBooks/Services/obj
/Alpha/WinClient/Modules/RefBooks/ServiceTypes/obj
/Alpha/WinClient/Modules/RefBooks/Streets/obj
/Alpha/WinClient/Modules/RefBooks/Users/obj
/Alpha/WinClient/Modules/Reports/Benefits/obj
/Alpha/WinClient/Modules/Reports/Charges/obj
/Alpha/WinClient/Modules/Reports/DebtAgency/obj
/Alpha/WinClient/Modules/Reports/Debtors/obj
/Alpha/WinClient/Modules/Reports/Payments/obj
/Alpha/WinClient/Modules/Reports/PaymentsAndCharges/obj
/Alpha/WinClient/Modules/Reports/DebtAndFine/obj
/Alpha/WinClient/Modules/Service/Export/obj
/Alpha/WinClient/Modules/Service/Import/obj
/Alpha/WinClient/Modules/Service/Settings/obj
/Alpha/WinClient/Shell/obj
/EnterpriseLibrary/Infrastructure/Build/Bin
/EnterpriseLibrary/Infrastructure/Common/obj
/EnterpriseLibrary/Infrastructure/SQLServerAccessProvider/obj
/EnterpriseLibrary/Win/Build/Bin
/EnterpriseLibrary/Win/Common/obj
/ThirdParty/Packages
/ThirdParty/Microsoft.Practices/Microsoft.Practices.Win/Build/Bin
/ThirdParty/Microsoft.Practices/Microsoft.Practices.Win/CompositeUI/obj
/ThirdParty/Microsoft.Practices/Microsoft.Practices.Win/CompositeUI.WinForms/obj
/ThirdParty/Microsoft.Practices/Microsoft.Practices.Win/ObjectBuilder/obj
/Alpha/Server/Build/Bin
/Alpha/Server/PrintForms/obj
/Alpha/CustomerWebSite/CustomerWebSite/obj
/Alpha/Server/Core/obj
/Alpha/Server/Infrastructure/obj
/Alpha/WinClient/Build/.vs
/Alpha/DataBase/AlphaDatabase/AlphaDatabase/AlphaDatabase.dbmdl
/Alpha/DataBase/AlphaDatabase/AlphaDatabase/AlphaDatabase.jfm
/Alpha/CustomerWebSite/.vs
/.vs
/Alpha/Tests/SQLServerAccessProviderTest/obj
/ThirdParty/Microsoft.Practices/Microsoft.Practices.Win/UnitTest/NUnit/CompositeUI/obj
/ThirdParty/Microsoft.Practices/Microsoft.Practices.Win/UnitTest/NUnit/CompositeUI.WinForms/obj
/ThirdParty/Microsoft.Practices/Microsoft.Practices.Win/UnitTest/NUnit/ObjectBuilder/obj
/Alpha/WinClient/Modules/Accounting/Counters/obj/Debug
/Alpha/WinClient/Modules/Accounting/Counters/obj/Release
/Alpha/WinClient/Modules/RefBooks/CounterValueCollectDistricts/obj/Debug
/Alpha/WinClient/Modules/RefBooks/CounterValueCollectDistricts/obj/Release
/Alpha/WinClient/Modules/PrintForms/CounterValueCollectForm/obj/Debug
/Alpha/WinClient/Modules/Reports/PreChargeReport/obj/Debug
/Alpha/WinClient/Modules/Reports/PreChargeReport/obj/Release
/Alpha/WinClient/Modules/PrintForms/CounterValueCollectForm/obj/Debug
/Alpha/WinClient/Modules/PrintForms/CounterValueCollectForm/obj/Release
/Alpha/WinClient/Modules/Reports/PreChargeReport/obj/Debug
/Alpha/WinClient/Modules/Reports/PreChargeReport/obj/Release
Alpha/WinClient/Modules/Service/Processing/obj/
/Alpha/WinClient/Modules/PrintForms/FillFormAndPrintFormDiff/obj
Alpha/WinClient/Modules/Uploads/DecFormsUploads/obj
Alpha/WinClient/Modules/Uploads/FillForms/obj
Alpha/WinClient/Modules/Uploads/RouteForms/obj
