@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Блокировка учетной записи";
}

<hgroup>
    <h1 class="text-danger">Учетная запись заблокирована</h1>
    <h2 class="text-danger">Данная учетная запись временно заблокирована. Пожалуйста, попробуйте войти позже.</h2>
</hgroup>
