@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Период</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12.10.2014</td>
            <td>09.2014</td>
            <td>300 руб</td>
        </tr>
        <tr>
            <td>12.10.2014</td>
            <td>08.2014</td>
            <td>344 руб</td>
        </tr>
        <tr>
            <td>12.10.2014</td>
            <td>07.2014</td>
            <td>455 руб</td>
        </tr>
    </tbody>
</table>