@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Ваш пароль был изменен. Пожалуйста, нажмите @Html.ActionLink(" здесь", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }), чтобы войти.
    </p>
</div>
